.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--tint-color);

  /* because of sticky header */
  height: 9.6rem;
  padding: 0 var(--min-padding);
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: color var(--transition-time),
    background-color var(--transition-time), box-shadow var(--transition-time);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shade-color);
  border-bottom: none;
}
