.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-image: linear-gradient(
    to right bottom,
    #eb984e,
    var(--primary-color)
  );
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.cta-text-box {
  padding: 6.4rem;
  padding-top: 4.8rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url(../../public/img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--tint-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

  transition: all var(--transition-time);
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  background-color: #45260a;
  color: var(--tint-color);
  align-self: flex-end;
  font-size: 1.8rem;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: var(--tint-color);
  color: #45260a;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(240, 177, 122, 0.5);
}
