.section-meals {
  padding-top: var(--top-padding);
  padding-bottom: var(--bottom-padding);
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: var(--border-radius);
  overflow: hidden;

  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-title {
  font-size: 2.4rem;
  columns: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem;
  padding-top: 2.4rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--primary-color);
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag--vegetarian {
  background-color: #2f9e44;
}

.tag--vegan {
  background-color: #099268;
}

.tag--paleo {
  background-color: #f08c00;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  transition: all var(--transition-time);
}

.link:hover,
.link:active {
  color: var(--shade-color);
  border-bottom: 1px solid transparent;
}
