.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: var(--bottom-padding);
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--shade-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 1px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: var(--border-radius);

  transition: all var(--transition-time);
}

.btn-primary:link,
.btn-primary:visited {
  color: #fff;
  background-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--shade-color);
}

.arrow-down {
  display: inline-block;
  transform: translate(0, -15%);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: var(--grey-color);
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fff;
}

.margin-right-sm {
  margin-right: 2rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.section-padding {
  padding-top: var(--top-padding);
  padding-bottom: var(--bottom-padding);
}

.grid {
  display: grid;
  row-gap: var(--bottom-padding);
  column-gap: var(--between-padding);
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 var(--min-padding);
}

strong {
  font-weight: 500;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 100px;
  font-weight: 600;
}

.center-text {
  text-align: center;
}
